[submodule "lib/sheet.js"]
	path = lib/sheet.js
	url = git://github.com/subtleGradient/Sheet.js.git
[submodule "lib/link"]
	path = lib/link
	url = https://github.com/VostroNet/link.js.git
[submodule "lib/slick"]
	path = lib/slick
	url = https://github.com/VostroNet/slick.git
[submodule "lib/ast-js"]
	path = lib/ast-js
	url = git://github.com/sebmarkbage/ast-js.git
